@import "../../variables";
.lists {
  .navigation {
    display: flex;
    justify-content: space-between;
    .header {
      margin-right: 164px;
      margin-top: 12px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 0.75;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
      min-width: 64px;
    }
  }
  .switch {
    border: 1px solid $main-border;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    div {
      text-transform: uppercase;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 14px;
      margin-top: 10px;
      color: $main-link;
    }
  }
  .news {
    margin-top: 20px;
    border: 1px solid $main-border;
    .text,
    .text1 {
      font-weight: 600;
      font-size: 17px;
    }
  }
  .footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 700px) {
    .news {
      width: 100%;
      .text,
      .none {
        display: none;
      }
    }
    .navigation {
      .header {
        margin-right: 10px;
      }
    }
  }
  @media (max-width: 400px) {
    .header{
      display:none;
    }
    
  }
}
.link {
  color: $main-link;
}
