
.lists .navigation{
    
    display: flex;
    justify-content: space-between;
}
.lists .switch{
    border:1px solid rgba(25, 118, 210, 0.5);
    padding:0 10px 0 10px ;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.lists .navigation p{
    margin-right: 164px;
    margin-top: 12px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.475rem;
    line-height: 0.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
}
.lists .navigation .switch div{
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.875rem;
    margin-top: 10px;
    color: #1976d2;
}




.lists .news{
    margin-top: 20px;
    border:1px solid rgba(25, 118, 210, 0.5);
}
.lists .news .text{
    font-weight: 600;
    font-size: 1.075rem;
}




.lists .footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}