.comments {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid rgba(25, 118, 210, 0.5);
}


.comments .comment .flex {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.comments .comment .ctext {
  text-align: left;
}

.loading {
  margin-top: 20px;
  font-size: 1.175rem;
  border: 1px solid rgba(25, 118, 210, 0.5);
  height: 50px;
}
