@import "../../variables";
.comment {
  .loading {
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid $main-border;
    height: 50px;
  }
  .comments {
    padding: 10px;
    border: 1px solid $main-border;
    margin: 10px 0 0 20px;
  }

  .ccomment {
    .flex {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .link {
        color: $main-link;
      }
    }
    .ctext {
      text-align: left;
      font-size: 15px;
    }
  }
  .no_margin {
    margin: 10px 0 0 0;
  }
  .margin {
    margin: 10px 0 0 20px;
  }

  @media (max-width: 700px) {
    .margin {
      margin: 10px 0 0 10px;
    }
  }
  @media (max-width: 450px) {
    .margin {
      margin: 10px 0 0 0;
    }
  }
}
