@import "../variables";
.page404 {
  margin-top: 100px;
  .error {
    font-size: 200px;
    color: $main-link;
    line-height: 0.75;
  }
  .not_found {
    font-size: 30px;
    color: $main-link;
  }
  .description {
    text-align: center;
    margin: 20px auto;
    width: 450px;
    font-size: 20px;
  }
  .link {
    color: $main-link;
    font-size: 20px;
  }
}
