
.lists .navigation{
    
    display: flex;
    justify-content: space-between;
}
.lists .switch{
    
    display: flex;
    justify-content: center;
}
.lists .switch div{
    
    margin-top: 10px;
}
