.post .navigation{
    
    display: flex;
    justify-content: space-between;
}

.post .navigation .navlink{
    
    color: #1976d2;
}
.post .navigation p{
    margin-top: 12px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.475rem;
    line-height: 0.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
}

.post .card {
    margin-top: 20px;
}
