@import "../../variables";
.post {
  .navigation {
    display: flex;
    justify-content: space-between;
    p {
      margin-top: 12px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 0.75;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
      min-width: 64px;
    }
    .button {
      color: $main-link;
    }
  }
  .card {
    margin-top: 20px;
    .flex {
      display: flex;
      .infouser {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        width: 1038px;
        .username {
          font-size: 19px;
          float: left;
          .link {
            color: $main-link;
          }
        }
        .date {
          line-height: 1.75;
          font-size: 16px;
          width: 120px;
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
    }
  }
  .nocomment {
    margin-top: 20px;
    font-size: 19px;
    border: 1px solid $main-border;
    height: 50px;
    .textcomment {
      margin-top: 12px;
    }
  }
  @media (max-width: 460px) {
    .navigation{
      position: relative;
      .header{
        margin: auto;
        position: absolute;
        top: 50px;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    .card{
      margin-top: 50px;
    }
  }
  
}
