.post .navigation{
    
    display: flex;
    justify-content: space-between;
}

.post .navigation .button{
    
    color: #1976d2;
}
.post .navigation p{
    margin-top: 12px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.475rem;
    line-height: 0.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
}

.post .card {
    margin-top: 20px;
}

.post .card .flex{
    display: flex;
}

.post .card .flex .infouser{
  margin-left: 10px;
}

.post .card .flex .username{
    font-size: 1.175rem;
    float: left;
}
.post .card .flex .date{
    line-height: 1.75;
    font-size: 0.875rem;
    
}

.post .nocomment{
    margin-top: 20px;
    font-size: 1.175rem;
    border:1px solid rgba(25, 118, 210, 0.5);
    height: 50px;
}
.post .nocomment .textcomment{
    margin-top: 12px;
}

