.post {
  .navigation {
    display: flex;
    justify-content: space-between;
    p {
      margin-top: 12px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      font-size: 1.475rem;
      line-height: 0.75;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
      min-width: 64px;
    }
    .button {
      color: #1976d2;
    }
  }
  .card {
    margin-top: 20px;
    .flex {
      display: flex;
      .infouser {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        width:1038px;
        .username {
          font-size: 1.175rem;
          float: left;
        }
        .date {
          line-height: 1.75;
          font-size: 0.975rem;
          width:120px;
        }
      }
    }
    .links{
      display: flex;
      justify-content: space-between;
    }
  }
  .nocomment {
    margin-top: 20px;
    font-size: 1.175rem;
    border: 1px solid rgba(25, 118, 210, 0.5);
    height: 50px;
    .textcomment {
      margin-top: 12px;
    }
  }
}

